version: '2'
services:
  interlock:
    image: ehazlett/interlock:1.3.0
    command: "-D run -c /bin/config.toml"
    restart: always
    ports:
        - 8080
    networks:
      - proxy
    volumes:
      - ./config.toml:/bin/config.toml
      - ./templates:/templates
      - /var/run/docker.sock:/var/run/docker.sock

  portainer:
    image: portainer/portainer
    restart: always
    ports:
        - 9000
    networks:
      - proxy
    volumes:
      - ./portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - interlock.hostname=portainer
      - interlock.port=9000
      - interlock.network=proxy
      - interlock.domain=docker

  mailcatcher: 
    build: ./mailcatcher
    networks:
      - proxy
      - smtp
    ports:
      - "1080"
    labels:
      - interlock.hostname=mailcatcher
      - interlock.port=1080
      - interlock.network=proxy
      - interlock.domain=docker
    restart: always

  haproxy:
    image: vixns/haproxy
    restart: always
    volumes:
      - "./haproxy:/etc/haproxy"
    labels:
      - "interlock.ext.name=haproxy"
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"

networks:
  proxy:
    external:
      name: proxy
  smtp:
    external:
      name: smtp
