global
  maxconn 2000

defaults
  timeout connect 5000
  timeout client 50000
  timeout server 500000
  mode http
  option http-server-close
  option forwardfor

listen monitor 
  bind :::9302
  mode http  
  stats enable
  stats uri /
  stats refresh   5s

userlist UsersFor_Dev
  user dev insecure-password sm0l

frontend mailcatcher 
  bind :::1080
  acl AuthOkay_Dev http_auth(UsersFor_Dev)
  http-request auth realm Dev if !AuthOkay_Dev
  use_backend mailcatcher

backend mailcatcher
  server mailcatcher mailcatcher:1080

frontend in 
  bind :::80
  acl AuthOkay_Dev http_auth(UsersFor_Dev)
  http-request auth realm Dev if !AuthOkay_Dev{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}{{ $vhost := (replace $host "."  "_" 20)  }}
  acl is_{{ $vhost }} hdr(host) -i {{$host}}
  use_backend {{  $vhost }} if is_{{ $vhost }}{{ end }}

{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}{{ $vhost := (replace $host "."  "_" 20)  }}
backend {{ $vhost }}
  balance roundrobin
  {{ range $container := $containers }}
  {{ $network := (index (where $container.Networks "Name" "proxy") 0)}}
  {{ $port := or ($container.Env.VIRTUAL_PORT) "80" }}
  {{ range $address := $container.Addresses }}
  {{ if eq $address.Port $port }}server {{ $container.Name }} {{ $network.IP }}:{{ $address.Port }} {{$container.Env.VIRTUAL_OPTIONS | ""}} check
{{ end }}{{ end }}{{ end }}{{ end }}
